<h2>Listar</h2>

<form [formGroup]="tarefaForm" (ngSubmit)="inserir()">
  <p>
    Titulo: <input type="text" formControlName="titulo"/>
  </p>

  <p>
    Descricao: <input type="text" formControlName="descricao"/>
  </p>

  <p>
    Data: <input type="text" formControlName="data"/>
  </p>

  <button type="submit">Enviar</button>
</form>

<ul>

  @for(item of tarefas; track $index){
    <li>{{item.id}} - {{item.titulo}} - {{item.descricao}} - {{item.data}}</li>
    <input type="button" value="remover" (click)="remover(item.id)">
  }
</ul>
